{% load static %}
<!DOCTYPE html>
<html >
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Josias Kasongo | {% block title %} {% endblock  %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">

  </head>
  <body>
    {% include 'layout/navbar.html' %}

    {% block content %}
    {% endblock %}

    <footer id="Pied" class="hero is-medium">
        <div class="hero-body">
            <div class="container">
                <div class="columns ">
                    <div class="column is-6 "> 
                        <h2 class="title is-size-2"><a class="effet-orange" href="{% url 'contact' %}">Contact</a></h2>    
                        <h2 class="title is-size-2"><a class="effet-orange" href="https://gardendiscussions.com/" >Visit my Blog <i class="fas fa-2x fa-user-astronaut"></i></a></h2>     
                        <h2 class="title is-size-2"><a  class="effet-orange" href="https://gardendiscussions.azurewebsites.net/storage/portfolio/josias_kasongo_2019_cv.pdf"> My CV <i class="far fa-2x fa-address-card"></i></a></h2>   
                    </div> 
                    <div class="column  is-3">
                        <h2 class="is-size-2 has-text-white">M T L</h2>  
                        <p>Québec (Canada) 
                        </p>
                        <p class="subtitle phone" itemprop="telephone"> <a class="has-text-white" href="tel:+1438223243"> 438 2283243 <i class="fas fa-phone"></i></a> </p>   
                    </div> 
                    <div class="column is-3 ">
                        <div class="container">
                            <ul class="contact-network">

                            </ul>
                        </div>    
                    </div>
                </div> 
            </div>
        </div>
    </footer>
    <script type="text/javascript">
    
        let listesMenu = document.querySelectorAll('.hamburger');
        let grosMenu = document.querySelector('#menu');
        for (menu of listesMenu){
            menu.addEventListener("click", ()=> {
                menu.classList.toggle('is-active');
                grosMenu.classList.toggle('is-hidden');
            });
        }
        let menuItems = document.querySelectorAll('.menu-item');
        for( item of menuItems){
          item.addEventListener('click',()=>{
            menu.classList.toggle('is-active');
            grosMenu.classList.toggle('is-hidden');
          })
        }

    </script>
  </body>
</html>