    <header>
        <div class="navbar is-fixed-top">
            <div class="navbar-brand">
                <a class="navbar-item has-text-white is-size-4" href="{% url 'index' %}">
                    Josias kasongo 👨🏾‍🚀
                </a>
                <a class="navbar-burger" aria-label="menu" aria-expanded="false" >
                    <button class="hamburger hamburger--emphatic" type="button">
                                <div class="hamburger-box">
                                    <div class="hamburger-inner"></div>
                                </div>
                    </button>
                </a>
            </div>
            <div class="navbar-menu">
                <!-- navbar start, navbar end -->
                <div class="navbar-end has-text-white">
                    <button class="hamburger hamburger--emphatic" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div id="menu" class="is-hidden has-text-white" >
            <div class="level"> 
                <div class="level-left">
                </div>
                <div class="level-right ">
                    <div>
                        <nav role="navigation">
                                <li class="menu-item is-size-1"><a href="{% url 'index' %}#Apropos">HOME</a></li>
                                <li class="menu-item is-size-2"><a href="{% url 'index' %}#Skills">Skills && tools</a></li>
                                <li class="menu-item is-size-1"><a href="{% url 'projects.index' %}">Project</a></li>
                                <li class="menu-item is-size-1"><a href="{% url 'index' %}#Passions">Passions</a></li>
                                <li class="menu-item is-size-1"><a href=" {% url 'contact' %}">Contact</a></li>
                        </nav>
                        <br /><br />
                        <ul class="contact-network">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>