{% load static %}
    {% for project in projects %}
    <div class="column is-one-third">
        <div class="card">
            <div class="card-image">
                <figure class="image">
                    <img src="{{ project.picture.url }}" alt="aperçu du site">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="{{project.logo_picture.url}}" alt="logo compagnie">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">{{project.name}}</p>
                        <p class="subtitle is-6"><a href="{% url 'projects.show' project.slug  %}">Voir le projet</a></p>
                    </div>
                </div>
                          
                <div class="content">
                    {{project.excerpt }}
                    <br />
                    {% for tag in project.tags.all %}
                        <a href="#">#{{tag.name}}</a>
                    {% endfor %}
                    <br />
                    <time datetime="{{project.realease_date }}">{{project.realease_date }}</time>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
