{% extends 'layout/main.html' %}
{% block title %}Codeur ,Developpeur Web Full-stack & Predicateur{% endblock %}

{% block content  %}


    <section id="Apropos" class="hero is-fullheight">
            <div class="hero-body">
              <div class="container">
                <h1 class="title is-size-1 has-text-white">
                    Coding, <br/> Full-stack Web Development<br/> 
                    <span class="bordure-bas-bleu">& Preacher</span>
                </h1>
                
                <h2 class="subtitle has-text-white">
                    I'm a lover of coding, unknown territories and everything related to heaven. <br />
                    Your go-to guy if you have a website or software project. 
                </h2>
                <br/>
                <button class="button has-text-bleu is-outlined"><a href="#">Let's Get started</a></button>
              </div>
            </div>
    </section>
    <section id="Skills" class="hero is-medium">
            <div class="hero-body">
              <div class="container">
                <div class="columns is-centered">

                    <div class="column is-one-third">
                        <div class="container centrer-texte">
                            <h2 class="subtitle bordure-bas-orange is-size-3">Languages</h2>

                            <ul class="bordure-simple">
                                <li>Php</li> 
                                <li>JavaScript</li> 
                                <li>Vue.js</li> 
                                <li>Laravel</li>  
                                <li>Swift</li>  
                                <li>C++</li>
                                <li>Boostrap / Bulma</li> 
                                <li>Tongues <i class="fa fa-fire"> </i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column is-one-third">
                            <div class="container centrer-texte">
                                <h2 class="subtitle bordure-bas-orange is-size-3">Tools</h2>
                                <ul class="bordure-simple">
                                    <li><i class="fab fa-git"></i> and <i class="fab fa-github"></i> </li>
                                    <li>Docker and containers<i class="fab fa-docker"></i></li>  
                                    <li>Lamp/Mamp <i class="fas fa-server"></i></li> 
                                    <li>Nginx <i class="fas fa-server"></i></li>
                                    <li>Node.js</li>  
                                    <li>Azure cloud</li>  
                                    <li>Qt (long time ago)</li>
                                </ul>
                            </div>
                    </div>
                    <div class="column is-one-third">
                            <div class="container centrer-texte">
                                <h2 class="subtitle bordure-bas-orange is-size-3">Skills</h2>
                                <ul class="bordure-simple">
                                    <li>Agile</li>
                                    <li>CI / CD</li>
                                    <li>DevOps culture</li> 
                                    <li>Take time to laugh -> <a href="https://xkcd.com/">Xkdc</a>  </li> 
                                    <li>Technical advisor</li>
                                    <li>Bible discussions</li> 
                                    <li>Manga discussions</li>  
                                    <li>Podcasting</li>  
                                </ul>
                            </div>
                    </div>
                </div>
              </div>
            </div>
    </section>
    <section id="Clickcontact" class="hero is-medium">
            <div class="hero-body">
              <div class="container">
                    <p class="is-size-5 has-text-white espace-bas">
                        Feel free to get in touch by any means of communication.<br />
                        I really enjoy Back-end development whether you need to develop a full product <br />
                        or hire a new member to your team. <br />
                    </p>
                    <div></div>
                     <button class="button has-text-bleu is-outlined"><a href="#">Start a project</a></button>
                     <button class="button has-text-bleu is-outlined"><a href="#"> or Hire me</a></button>
              </div>
            </div>
    </section>
    <section id="Project" class="hero is-medium">
        <div class="hero-body">
            <div class="container">
                <h2 class="title is-size-1">LAST PROJECT</h2>
                <div class="columns is-1 ">

                    <div class="column is-one-third">
                        <div class="card">
                            <div class="card-image">
                              <figure class="image">
                                <img src="https://gardendiscussions.com/storage/portfolio/reliureartmercier.png" alt="aperçu du site">
                              </figure>
                            </div>
                            <div class="card-content">
                              <div class="media">
                                <div class="media-left">
                                  <figure class="image is-48x48">
                                    <img src="http://reliuredartmercier.com/wp-content/uploads/2019/02/cropped-ReliureLogoBlack-2-2-192x192.png" alt="logo compagnie">
                                  </figure>
                                </div>
                                <div class="media-content">
                                  <p class="title is-4">Reliure d'Art Mercier</p>
                                  <p class="subtitle is-6"><a href="http://reliuredartmercier.com/">reliuredartmercier.com</a></p>
                                </div>
                              </div>
                          
                              <div class="content">
                                A simple website made with Wordpress for a beautiful company in Montréal.
                                <a href="#">#wordpress</a> <a href="#">#Css</a>
                                <br>
                                <time datetime="2019-9-1">Winter 2019</time>
                              </div>
                            </div>
                          </div>
                     </div>
                     <div class="column is-one-third">
                            <div class="card">

                                <div class="card-image">
                                  <figure class="image">
                                    <img src="https://gardendiscussions.com/storage/portfolio/tutosoccer-article.png" alt="Placeholder image">
                                  </figure>
                                </div>

                                <div class="card-content">
                                  <div class="media">
                                    <div class="media-left">
                                      <figure class="image is-48x48">
                                        <img src="https://scontent.fymy1-1.fna.fbcdn.net/v/t1.0-9/46520710_767040420307999_8665898149555994624_n.jpg?_nc_cat=107&_nc_sid=a61e81&_nc_oc=AQljWl0_3gI5s-TGsfulaZjaGgLLck201nqaFxJ8oMg2At43j52JJ8_mqM-t0Tx0O1k&_nc_ht=scontent.fymy1-1.fna&oh=a9dbe77116738f28bb9d60d8a8b4256e&oe=5EF7ABF7" alt="logo compagnie">
                                      </figure>
                                    </div>
                                    <div class="media-content">
                                      <p class="title is-4">Tuto Soccer</p>
                                      <p class="subtitle is-6"><a href="https://www.facebook.com/TUTOSOCCER/">Tuto soccer</a></p>
                                    </div>
                                  </div>
                              
                                  <div class="content">
                                    A social and information platform around sport: videos, news, buzz and last sports scores.
                                    A lot of RESTfull API.
                                    <a href="#">#Laravel</a> <a href="#">#Boostrapp</a> <a href="#">#PhP</a> <a href="#">#Javascript</a>
                                    <br>
                                    <time datetime="2019-10-1">STOPPED</time>
                                  </div>
                                </div>
                              </div>
                      </div>
                      <div class="column is-one-third">
                        <div class="card">

                            <div class="card-image">
                              <figure class="image">
                                <img src="http://gardendiscussions.azurewebsites.net/storage/portfolio/Screenshot_2020-02-23%20Garden%20Discussions%20Accueil(1).png" alt="Garden discussion screen">
                              </figure>
                            </div>

                            <div class="card-content">
                              <div class="media">
                                <div class="media-left">
                                  <figure class="image is-48x48">
                                    <img src="projet/logo-tuto.png" alt="logo compagnie">
                                  </figure>
                                </div>
                                <div class="media-content">
                                  <p class="title is-4">Garden Discussions</p>
                                  <p class="subtitle is-6"><a href="https://gardendiscussions.com">gardendiscussions.com</a></p>
                                </div>
                              </div>
                          
                              <div class="content">
                                A blog, where i write about the bible, prophets, christians and a lot of stuff, but in french. 
                                In fact we are on a portion of it, right now.
                                <a href="#">#Laravel</a> <a href="#">#Vue.js</a>
                                <br>
                                <time datetime="2020-02-1">Winter 2020</time>
                              </div>
                            </div>
                          </div>
                    </div>
                 </div>
            </div>
        </div>
    </section>


    <section id="Passions" class="hero">
        <div class="hero-body">
            <div class="container">
                <h2 class="title is-size-1">PASSIONS AND SOME COOL STUFF 👌🏾 </h2>
                <h3 class="subtitle is-size-6"> Updated everytime i change my mind </h3>
                <div class="columns is-1 ">

                    <div class="column is-one-third table-container">
                        <table class="table">
                            <thead>
                              <tr><span class="subtitle bordure-bas-orange is-size-3"> Podcast <span></tr>
                            </thead>
                            <tbody>
                              <tr><iframe src="https://open.spotify.com/embed-podcast/episode/5s9vGQlPRRr0NImG20t52I" width="100%" height="185" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></tr>
                              <tr><iframe src="https://open.spotify.com/embed-podcast/episode/2f0Ss3d5D8hmaM78tYkn34" width="100%" height="185" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></tr>
                              <tr><iframe src="https://open.spotify.com/embed-podcast/episode/5wswfsZZ5DQP7cKKiuhPSG" width="100%" height="185" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="column is-one-third table-container">
                        <table class="table">
                            <thead>
                              <tr><span class="subtitle bordure-bas-orange is-size-3"> Books <span></tr>
                            </thead>
                            <tbody>
                              <br />
                              <tr><iframe type="text/html" width="50%" height="185" frameborder="0" allowfullscreen style="max-width:100%" src="https://read.amazon.ca/kp/card?asin=B06XFW7FGQ&preview=newtab&linkCode=kpe&ref_=cm_sw_r_kb_dp_Nbf7DbK6NNC5M" ></iframe></tr>
                              <tr><iframe type="text/html" width="50%" height="185" frameborder="0" allowfullscreen style="max-width:100%" src="https://read.amazon.ca/kp/card?asin=B00U6SFUSS&preview=inline&linkCode=kpe&ref_=cm_sw_r_kb_dp_7TT7Db72SZ5ZS" ></iframe></tr>
                              <tr><iframe type="text/html" width="50%" height="185" frameborder="0" allowfullscreen style="max-width:100%" src="https://read.amazon.ca/kp/card?asin=B07C7M8SX9&preview=newtab&linkCode=kpe&ref_=cm_sw_r_kb_dp_BWT7Db57X5GHS" ></iframe></tr>
                              <tr><iframe type="text/html" width="50%" height="185" frameborder="0" allowfullscreen style="max-width:100%" src="https://read.amazon.ca/kp/card?asin=B007V93USC&preview=inline&linkCode=kpe&ref_=cm_sw_r_kb_dp_KZT7DbDF4K902" ></iframe></tr>
                              <tr><iframe type="text/html" width="50%" height="185" frameborder="0" allowfullscreen style="max-width:100%" src="https://read.amazon.ca/kp/card?asin=B00GHTL2R8&preview=inline&linkCode=kpe&ref_=cm_sw_r_kb_dp_l1T7Db5XTNEGY" ></iframe></tr>
                              <tr><iframe type="text/html" width="50%" height="185" frameborder="0" allowfullscreen style="max-width:100%" src="https://read.amazon.ca/kp/card?asin=B00699SDR8&preview=inline&linkCode=kpe&ref_=cm_sw_r_kb_dp_.2T7DbPV4CRPT" ></iframe></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="column is-one-third table-container">
                        <table class="table">                            
                          <thead>
                            <tr><span class="subtitle bordure-bas-orange is-size-3"> Some articles that i loved <span></tr>
                          </thead>
                          <tbody>
                            <tr>
                              <div class="article">
                                <h3 class="title is-size-4"> 7 Skills of Highly “Effective” Programmers</h3>
                                <h4 class="subtitle is-size-6">@SeattleDataGuy<h4>
                                <p class="content">Software engineers spend a lot of time gaining skills for interviews by practicing 
                                  leet code problems and perfecting resumes.
                                  Once they finally get that job at a startup,...</p>                               
                                <a href="https://medium.com/better-programming/7-habits-of-highly-effective-programmers-563ee3b63f33" class="button is-link ">Go read the article</a> 
                                <hr />
                              </div>
                            </tr>
                            <tr>
                              <div class="article">
                                <h3 class="title is-size-4">Should I Use A Microservices Architecture?</h3>
                                <h4 class="subtitle is-size-6">@James Hickey<h4>
                                <p class="content">Let’s face it: opinions in tech are always changing and are often not as black-and-white as we’d like.
                                  “Best practices” are often shifting every few years. Once we thought DRY was the best thing since sliced bread. 
                                  Now we are told that sharing code can be one of the most damaging architectural decisions one could make.
                                  What about microservices?</p>                               
                                <a href="https://dev.to/jamesmh/should-i-use-a-microservices-architecture-4751" class="button is-link ">Go read the article</a>  
                                <hr />
                              </div>
                            </tr>
                            <tr></tr>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock  %}