{% extends 'layout/main.html' %}
{% load static %}
{% block title %} Projects and Portfolio {% endblock %}

{% block meta_content %}
<!-- Description -->
	<meta name="description" content="Freelance projects and personal apps made."/>
	<meta name="keywords"  content="josias,kasongo,josias kasongo,josias musthaila,portfolio,node, vue.js, github,project,app,dev,code,wordpress,CMS, Ios App,inquiry,Laravel,Django,freelance,info, plan"/>
	<meta name="Resource-type" content="Document"/>
<!-- Open Graph data -->		
	<meta property="og:site_name" content="Josias Kasongo | Full-stack Web Developer & Preacher"/>
	<meta property="og:title" content="Josias Kasongo | Project - Portfolio" />
	<meta property="og:description" content="Freelance projects and personal apps"/>
	<meta property="og:image" content="https://josiaskasongo.com/media/thumbnail/index.png" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://{{site_web}}{% url 'projects.index'  %}" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@josiaskas">
    <meta name="twitter:creator" content="@josiaskas">
    <meta name="twitter:title" content="Josias Kasongo | Project - Portfolio">
    <meta name="twitter:description" content="Freelance projects and personal apps made">
    <meta name="twitter:image" content="https://josiaskasongo.com/media/thumbnail/index.png">
    <meta name="twitter:image:alt" content="Josias Kasongo">
{% endblock %}

{% block content %}
<section class="hero is-fullheight">
    <div class="hero-head">
        <div class="content"><br/></div>
    </div>
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-6">
                    <h1 class="title has-text-centered"> Freelance projects and personal apps</h1>
                    <form  action="{% url 'projects.index' %}" class="column">
                        <div class="field">
                            <div class="control  has-icons-right">
                                <input class="input" name="q" type="search" placeholder="Chercher un projet">
                                <span class="icon is-small is-right">
                                    <i class="fas fa-search "></i>
                                </span>
                            </div>
                        </div>
                        {% if search_succes %}
                            <p class="is-size-6 has-text-success">{{message}}</p>
                        {% endif %}
                        {% if message == 'no result' %}
                            <p class="is-size-6 has-text-danger">no result with '{{query}}'</p>
                        {% endif %}
                    </form>
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column is-12">
                    <div class="columns is-multiline " role="main">
                        {% for project in projects %}
                        <div class="column is-one-third">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image">
                                        <img src="{{ project.picture.url }}" alt="aperçu du site">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-left">
                                            <figure class="image is-48x48">
                                                <img src="{{project.logo_picture.url}}" alt="logo compagnie">
                                            </figure>
                                        </div>
                                        <div class="media-content">
                                            <p class="title is-4"> {{project.name}}</p>
                                            <p class="subtitle is-6"><a href="{% url 'projects.show' project.slug  %}">Voir le projet</a></p>
                                        </div>
                                    </div>
                                            
                                    <div class="content">
                                        {{project.excerpt }}
                                        <br />
                                        {% for tag in project.tags.all %}
                                        <a href="#">#{{tag.name}}</a>
                                        {% endfor %}
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="columns is-centered">
                <nav class="pagination is-right" role="navigation" aria-label="pagination">
                        {% if projects.has_previous %}
                            <a class="pagination-next" href="?page={{ projects.previous_page_number}}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Previous</a>
                        {% endif %}
                        {% if projects.has_next %}
                            <a class="pagination-next" href="?page={{ projects.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Next page</a>
                        {% endif %}
                    <ul class="pagination-list">
                        {% for page in projects.paginator.page_range %}
                            <li><a class="pagination-link" aria-label="Goto page {{page}}" href="?page={{page}}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{page}}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}